/* Estilos adicionais se necessário */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.table-container {
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .flex-col {
    flex-direction: column;
  }
  
  .w-full {
    width: 100%;
  }
}